@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    padding: 5rem ;
    color: white;
    font-family: v.$fuenteSecundaria;
    position: relative;
    z-index: 10;
    height: 70rem;
    @include m.tablet { 
        background-position: 50%;
    }

    &__imagen{
        background-image: linear-gradient( rgba(0 0 0 / .5), rgba(0 0 0 / .5)), url(/img/vboreal.avif); 
        background-size: cover;
        background-size: auto 100%;
        background-position: center;
        background-position-y: 0px;
        background-position-x: 0px -660px;
        background-size: auto 120%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        z-index: -1;
        @include m.tablet { 
            background-position-x: unset;
        }
        @media (min-width: 2000px){
            background-size: 100%;
        }
    }

    &__contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    &__heading{
        @include m.tablet { 
        font-size: 6rem;
        }
        font-size: 4.2rem;
        text-align: center;
        @include m.desktop { 
        margin-top: 20rem;
        }
    }

    &__texto{
        text-align: center;
    }

    &__translate{
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: v.$secundario;
        font-size: 1.2rem;
    }

    &__translate:hover{
        background-color: rgba(0, 0, 0, .2);
        color: lighten(v.$secundario, 30%);
    }
}