@use 'base/mixins' as m;
@use 'base/variables' as v;

.portfolio {
    background-color: v.$secundario;
    padding: 5rem 0;

    &__heading {
        @include m.heading(v.$primario);
    }
}

/* ------------------------------------------------------------------- 
 * ## portfolio list
 * ------------------------------------------------------------------- */
.folio-list {
    max-width: 1180px;
    margin-top: 5rem;
    @include m.grid(1, 2rem);
    @include m.tablet { 
        @include m.grid(2, 3rem);
    }
    // @include m.desktop { 
    //     @include m.grid(3, 2rem);
    // }
}

.folio-item{
    height: 13rem;
    overflow: hidden;
    box-shadow: 0px 0px 2.6rem -0.8rem v.$primario;
    border-radius: 1rem;
    &:nth-child(5){
        order: -13;
    }
    &:nth-child(10){
        order: -12;
    }
    &:nth-child(13){
        order: -11;
    }
    &:nth-child(9){
        order: -10;
    }
    &:nth-child(12){
        order: -9;
    }
    &:nth-child(1){
        order: -8;
    }
    &:nth-child(4){
        order: 10;
    }

    &__thumb {
        display: block;
        background-color: white;
        position: relative;
        overflow: hidden;
    }

    &__thumb::before {
        z-index: 1;
        content: "";
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all, .5s;
        transition: all, .5s;
    }

    &__thumb::after {
        z-index: 1;
        content: "...";
        font-weight: 300;
        font-size: 3rem;
        color: white;
        display: block;
        height: 32px;
        width: 32px;
        line-height: 32px;
        margin-left: -16px;
        margin-top: -16px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        position: absolute;
        left: 50%;
        top: 50%;
    }
}

.folio-item:hover .folio-item__thumb::before {
    opacity: 1;
    visibility: visible;
}

.folio-item:hover .folio-item__thumb::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.folio-item-img {
    display: block;
    margin: 0;
    -webkit-transition: all, .5s;
    transition: all, .5s;
    background-size: cover;
}

.folio-item:hover .folio-item-img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.modal-popup {
    max-width: 680px;
    background-color: v.$secundario;
    font-size: 1.8rem;
    line-height: 1.6;
    overflow-y: auto;
    position: relative;
    border-radius: 2rem;
}

.modal-popup-img {
    margin-bottom: 5rem;
}

.modal-popup-titulo {
    margin-top: 0;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.modal-popup__desc {
    padding: 0 4rem 1.2rem;
    line-height: 1.2;
}

.modal-popup__cat {
    list-style: none;
    margin-left: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: .5;
    color: lighten(v.$primario, 30%);
    padding-left: 3rem;
    position: relative;
}


.modal-popup__details, 
.modal-popup__details--git{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 1rem;
    padding: 0 1.4rem;
    position: absolute;
    transition-property: background-color;
    transition-duration: .3s;
}

.modal-popup__details{
    top: 4%;
    left: 4%;
}
.modal-popup__details--git{
    top: 4%;
    right: 4%;
}

.modal-popup__details:hover, 
.modal-popup__details:focus {
    background-color: rgba(0, 5, 5, 0.788);
    color: white;
}

.modal-popup-titulo{
    font-family: v.$fuenteSecundaria;
}

.modal-popup-texto{
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
}

.modal-popup-stack{
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.modal__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

