@use 'base/mixins' as m;
@use 'base/variables' as v;

.educacion{
    background-color: white;
    padding: 5rem;

    @include m.tablet { 
        padding: 10rem;
    }
}

.educacion__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include m.tablet { 
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
    }
}

.educacion__contenido-titulo::after{
    content: '';
    display: block;
    height: 1rem;
    width: 100%;
    margin-top: 1rem;
    background-image: linear-gradient(to right, v.$gris 0%, v.$gris 50%, lighten(v.$gris, 20%) 50%, lighten(v.$gris, 20%) 100%);

    @include m.tablet { 
        width: 15rem;
    }
}

.educacion__contenido-texto{
    text-align: center;
}

.educacion__heading{
    font-family: v.$fuenteCursiva;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2;
}

.educacion__descripcion{
    margin-top: 0;
    &:last-of-type{
        margin-top: 2rem;
    }
}

.skills__icons{
    margin: 3rem 0;
    display: grid;
    @include m.grid(3,2rem);
    align-items: center;
    justify-content: center;
    @include m.desktop { 
        display: flex;
    }
}
.skills__icons-contenedor{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    font-size: 2.8rem;


}


