@use 'base/mixins' as m;
@use 'base/variables' as v;

.aboutme{
    background-color: v.$primario;
    color: white;
    font-family: v.$fuentePrincipal;
    padding: 5rem 0;
    text-align: center;
    @include m.tablet { 
        .aboutme{
            text-align: left;
            padding: 0 1rem;
        }
    }

    &__heading{
        @include m.heading(white);
        text-align: center;
    }
    
    &__grid{
        display: grid;
        align-items: center;
        @include m.tablet { 
            grid-template-columns: 1fr 2fr;
        }
    }

    &__logo{
        display: none;
        &--mobile{
            margin-left: 5rem;
        }
        @include m.tablet { 
            display: block;
            font-size: 15rem;
            margin: 0 auto;
        }
    }

    &__heading-logo{
        margin-left: 2rem;
        @include m.tablet { 
            display: none;
        }
    }

}


